body {
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
}

.item {
    min-width: 300px;
    flex: 1;
    padding: 5px;
}

textarea {
    width: 100%;
    height: calc(100% - 61px);
    box-sizing: border-box;
    resize: none;
    border-radius: 6px;
    border: 1px solid #d0d7de;
    background-color: #f6f8fa;
    padding: 10px;
    outline: none;
}

.label {
    font-size: 50px;
    font-family: Impact, fantasy;
    text-align: center;
    box-sizing: border-box;
}

.header {
    background-color: #f6f8fa;
    border-bottom: 1px solid #d0d7de;
}

#rmLocalStorage {
    display: none;
}

.githublink {
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    color: blue;
}

.buttons {
    box-sizing: border-box;
    float: right;
    position: relative;
    bottom: 50px;
    right: 5px;
}

.buttons > button {
    /* width: 70px; */
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    background-color: #2da44e;
    border-radius: 6px;
    border: 1px solid #d0d7de;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}
.buttons > .withcheckbox {
    position: relative;
    top: 2px;
}

#decompile {
    background-color: #dc3545;
}

#optimize {
    background-color: #ffc107;
}